body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.wrapper {    
    background: linear-gradient(140deg, #1333c0, #7338c0, #b341a9, #ee7752);
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}