@import "./tools.scss";

.footer {
    margin: 10px 5px;
    text-align: end;

    .footer-item {
        color: #fff;
        background: $gradientElements;
        padding: 5px;
        border-radius: 15px;
        @include boxShadow;
        font-size: 14px;

        .footer-link {
            text-decoration: none;
            color: $colorMain;
        }
    }
}