@import "./tools.scss";

.prediction-wrap {
    text-align: center;
    padding: 10px 50px;
    margin: 0 auto;

    #prediction {
        color: #fff;
        font-size: 18px;
        height: 100px;
        display: table-cell;
        vertical-align: middle;
        @include textShadow;
    }

    #get-prediction {
        border: none;
        @include boxShadow;
        background: $gradientElements;
        border-radius: 15px;
        padding: 10px 30px;
        font-family: 'Comfortaa', cursive;
        color: $colorMain;
        cursor: pointer;
        font-size: 14px;
        margin-top: 5px;
    }

    #get-prediction:hover {
        background: linear-gradient(140deg, #12a4b8, #ac1cd8);
    }

    #get-prediction:active{
        background: linear-gradient(140deg, #0f8999, #9719bd);
        box-shadow: inset 1px 3px 0 darken($colorMain, 10%), 
        1px 1px 1px rgba(#fff, .1);
        color: darken($colorMain, 10%);
    }

    .prediction-progress-wrap {
        width: 100px;
        height: 8px;
        border: 1px solid $colorMain;
        box-shadow: 1px 1px 1px rgba(#fff, .1);
        border-radius: 15px;
        margin: 15px auto;
        text-align: center;
        
        .prediction-progress-bar {
            background: linear-gradient(20deg, #6ad6e4, #db63ff);
            border-radius: 15px;
            width: 0;
            height: inherit;
            animation: progress 3s ease-in-out;
        }
    }

    @keyframes progress {
        0% {
            width: 0;
        }
        100% {
            width: 100px;
        }
    }
}

@media screen and (max-width:499px) {
    .prediction-wrap {
        padding: 10px;
    }
}