.prediction-wrap {
    text-align: center;
    padding: 10px 40px;

    #prediction {
        color: #fff;
        font-size: 18px;
        height: 25px;
        text-shadow: 0 2px 1px #212658,
        1px 3px 1px #212658,
        2px 4px 1px #212658;
    }

    #get-prediction {
        border: none;
        box-shadow: 1px 2px 1px #212658,
        2px 2px 1px #212658, 
        3px 3px 2px #212658;
        background: linear-gradient(140deg, #12a4b8, #ac1cd8);
        border-radius: 15px;
        padding: 10px 30px;
        font-family: 'Russo One', sans-serif;
        color: #212658;
        cursor: pointer;
    }

    #get-prediction:hover {
        background: linear-gradient(20deg, #12a4b8, #ac1cd8);
    }

    #get-prediction:active{
        background: linear-gradient(20deg, #0f8999, #9719bd);
        // border: 1px solid rgba(#000, .05);
        box-shadow: inset 1px 3px 0 #16193a, 
        1px 1px 1px rgba(#fff, .1);
        // text-shadow: -1px -1px 0 #171a3d;
        color: #16193a;
    }
}